* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: url("images/background.jpg") no-repeat fixed center;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    background-color: rgba(15, 48, 87, 0.7);
    border-radius: 5px;
}

li {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #e7e7de;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    display: grid;
    grid-template-areas: 'left center right';
    grid-template-columns: 25% 50% 25%;
    margin: 10px;
}

.main-center {
    grid-area: center;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(15, 48, 87, 0.6);
}

#cv {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#ime {
    font-size: 30px;
    padding: 20px;
    color: e7e7de;
    margin: 10px;
    margin-top: -5px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-weight: bold;
}

.layout {
    border-radius: 10px;
    color: #ff9642;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.layout section {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #e7e7de;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 40%;
    border-bottom: 5px solid rgba(1,1,1,0.3);
    border-right: 5px solid rgba(1,1,1,0.3);
    border-left: 5px solid rgba(1,1,1,0.3);
}

.filmTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 90%;
    border: 1px solid white;
}

.layout section a {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    width: 90%;
    background-color:rgba(15, 48, 87, 0.5);
    border: 1px solid white;
}

.layout section span {
    background-color:rgba(15, 48, 87, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

}

.infoText {
    width: 100%;
    align-self: center;
}

h3 {
    bottom: 10px;
    position: relative;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: white;
    align-self: center;
}

#cv img {
    max-width: 40%;
    max-height: 40%;
    border-radius: 20px;
}

#edukacija {
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    align-self: center;
    font-weight: bold;
}

#edukacija span {
    padding: 15px;
    font-family: Montserrat;
    font-size: 20px;
    margin: 3px;
    color: white;
    border-bottom: 5px solid rgba(1,1,1,0.3);
    letter-spacing: 1px;
    border-radius: 10px;
}

#email a {
    width: 100%;
}

#phoneNo span {
    width: 30%;
}

#interesenText {
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    color: white;
    align-self: center;
    font-weight: bold;
    border-bottom: 5px solid rgba(1,1,1,0.3);
    border-right: 5px solid rgba(1,1,1,0.3);
    border-left: 5px solid rgba(1,1,1,0.3);
}

#galerija {
    grid-area: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

.post {
    background-color:  rgba(15, 48, 87, 0.6);;
    align-self: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid rgba(255,255,255,1);
}

.post input {
    align-self: center;
    width: 50%;
}

.post img {
    align-self: center;
    width: 87%;
    margin: 10px;
    border-radius: 10px;
}

.post button {
    width: 25%;
    align-self: center;
}

#date {
    font-size: 10px;
    align-self: center;
    padding: 10px;
}

#comment-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#com {
    align-self: center;
}

#comment-text {
    word-wrap: break-word;
    color: #0f3057;
    font-size: 17px;
    background-color: #0f3057;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid white;
}

#comment-time,
#comment-date {
    font-size: 10px;
    color: white;
}

#comment {
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

#thumbs {
    align-self: center;
    display: flex;
}

#thumbs img {
    width: 40px;
    height: 40px;
}

#thumbs span {
    align-self: center;
}

#post-text-input {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

#post-submit {
    margin-bottom: 10px;
}

#blog-posts {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
    padding: 5px;
}

#blog-post {
    border-radius: 10px;
    border: 1px solid white;
    width: 90%;
    align-self: center;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(15, 48, 87, 0.6);
}

#post-text {
    background-color: #0f3057;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 6px;
    word-wrap: break-word;
}

#post-date,
#post-time {
    font-size: 15px;
    color: white;
}

#post-user {
    word-wrap: break-word;
    margin-bottom: 5px;
    color: white;
}

.main-left {
    grid-area: left;
    padding: 8px;
}

.sidebar {
    height: 100%;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

.sidebar-entry {
    height: 60px;
    padding: 10px;
    display: grid;
    width: 65%;
    grid-template-areas: 'left right';
    grid-template-columns: 60px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(15, 48, 87, 0.7);
}

.image-thumbnail-wrapper {
    grid-area: left;
    background-color: red;
    height: 60px;
    width: 60px;
    align-self: flex-start;
}

.image-thumbnail-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.image-preview-info {
    align-self: flex-start;
    position: relative;
    bottom: 6px;
    padding: 5px;
    margin-left: 3px;
}

.image-preview-info span {
    color: white;
}

.film {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.film img {
    width: 50%;
    border-radius: 10px;
}

.film-overview {
    width: 90%;
    font-size: 13px;
    padding: 15px;
    color: white;
    font-weight: bold;
}

#add-film {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#add-film input {
    margin: 5px;
    border: 1px solid white;
}

#add-film button {
    width: 40%;
    align-self: center;
    margin: 5px;
    background-color: #0f3057;
    color: #e7e7de;
    border: 1px solid #e7e7de;
    border-radius: 10px;
    padding: 5px;
}

#add-film span {
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    margin: 10px;
    color: #e7e7de;
    border: 1px solid white;
}

.films {
    width: 100%;
    align-self: center;
}

.removebtn {
    background-color: #0f3057;
    color: white;
    padding: 6px;
    padding-bottom: 8px;
    border-radius: 10px;
    font-size: 10px;
    border: 1px solid white;
}

button:hover {
    cursor: pointer;
}

#film-input {
    background-color: rgba(15, 48, 87, 0.3);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

#thumbs {
    color: white;
}

#com {
    color: white;
}

#input-image {
    position: relative;
    top: 20px;
    color: white;
}

#gallery-center {
    background-color: rgba(15, 48, 87, 0);
}

#blog-center {
    background-color: rgba(15, 48, 87, 0);
}